# Operating system files
.DS_Store

# Python virtual environment directory
venv/
.venv/

# Generated Python files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Credential configuration files
*.env
.env

# File with data
data/